<div id="contenedor">
    <div id="tituloGeneral">
        <h2>{{title}}</h2>
    </div>
    <form action="login">
        <div class="container">            
            <label for="nombreLaboratory">
                <h5 style="margin-top: 100px;">Laboratorio</h5>
            </label>
            <br>
            <input [(ngModel)]="selectLaboratory.name" name="name" id="nombreLaboratory" placeholder="Example: Unasur" type="text" required>
            <br>
            <label for="capacidadLaboratory">
                <h5>Capacidad</h5>
            </label>
            <br>
            <input [(ngModel)]="selectLaboratory.capacity" name="capacity" id="capacidadLaboratory" placeholder="Example: 48" min="1" type="number" required>
            <label for="descripcionLaboratory">
                <h5>Descripción</h5>
            </label>
            <br>
            <input [(ngModel)]="selectLaboratory.description" name="description" id="descripcionLaboratory" placeholder="Example: El laboratorio a pesar de los años tiene una buena infrestructura" type="text" required>
        </div>                
        <br>                
        <div class="container d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-lg-4">
                    <button (click)="updateLaboratory()" type="submit" class="btn btn-primary">Crear Laboratorio</button>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <a href="list-subject" class="btn btn-danger" style="width: 400px;">Cancelar</a>
                </div>
            </div>                                    
        </div>        
    </form>
</div>
